[Unit]
Description = mcalendar
After = network.target

[Service]
Type = simple
User = malky
WorkingDirectory = /home/malky
ExecStart = /usr/bin/mcalendar /home/malky/mcalendar_config.toml
Restart = always

[Install]
WantedBy = multi-user.target
